anyio==3.7.1
attrs==21.4.0
beautifulsoup4==4.12.3
certifi==2024.7.4
click==8.1.7
Cython==3.0.10
fasttext==0.9.3
gensim==4.3.2
grobid-client==0.8.8
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.7
joblib==1.4.2
lxml==4.9.4
nltk==3.8.1
numpy==1.26.4
nvidia-nccl-cu12==2.22.3
pybind11==2.13.1
python-dateutil==2.9.0.post0
regex==2024.5.15
rfc3986==1.5.0
scikit-learn==1.5.1
scipy==1.10.1
sent2vec @ git+https://github.com/epfml/sent2vec.git@9efbc2dd69f6c737c3a752c9dc5fbb4843d578b6
six==1.16.0
smart-open==7.0.4
sniffio==1.3.1
soupsieve==2.5
threadpoolctl==3.5.0
tqdm==4.66.4
wrapt==1.16.0
xgboost==2.1.0
git+https://github.com/alliance-genome/agr_fastapi_okta@v1.2#egg=fastapi_okta
transformers~=4.45.2
torch~=2.6.0
pytest~=8.3.4
requests
cachetools